.dash_wrapper {
    margin-left:5%;
    margin-right:5%;
}

.options {
    margin-top:5%;
    height: 100%;
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffff;
    border-radius:5px;
    margin-bottom:2%;
    width:250px;
    height:250px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(212, 217, 223);
    z-index: 0;
    overflow: hidden;
}

.icon {
    max-width: 90%;
    max-height: 80%;
    display: block;
}

.jumbotron_local {
    margin-top:2%;
}

@media screen and (max-width: 800px) {
    .options {
      flex-direction: column;
      align-items: center;
    }
    main>* {
      width: 100%;
    }
  }